
#big-container {
    margin-top: 400px;
}

header.container {
    margin-bottom: 0;
}

#dikey-orta {
    height: 60vw;
}

#dikey-orta2 {
    height: 60vw;
}

.height4 {
    margin: 0;
}

#height4 {
    margin-top: 150px;
}

.height {
    height: 50vw;
}

.clear2 {
    height: 0;
    margin: 0;
}

.clear3 {
    height: 100px;
    margin: 0;
}

#dikey-orta {
    height: auto;
}