#header-logo {
    width: 100%;
}

#header-buttons {
    font-size: 2rem;
}

#button2 {
    padding: 0 2px;
}

#sol {
    width: 280px;
}

.description {
    width: 280px;
}

#menu {
    top: 84px;
}

#big-container {
    width: 100%;
}

.icons {
    justify-content: center;
    width: 100%;
}

.minik-icerik {
    width: 100%;
}

#sol {
    width: 100%;
}

.description {
    width: 100%;
}

#big-container {
    margin-top: 1500px;
}

.images {
    justify-content: center;
}

.takvimlendirileceksiniz {
    width: 100%;
    word-wrap: break-word;
}

.text-word-wrap {
    word-break: break-word;
}

#veri-resim2 {
    width: 100%;
}

#veri-text-icerisi {
    width: 100%;
}

#veri-text-icerisi2 {
    width: 100%;
}

.container-clear4 {
    margin-top: 95px;
}

.clear3 {
    height: 40vw !important;
}

.clear6 {
    height: 0 !important;
    margin: 0 !important;
}

.images-img {
    width: 100%;
}

#seo-takvimi-buttons {
    flex-wrap: wrap
}