.active {
    display: none !important;
}

.deactive {
    display: flex !important;
}

li.deactive {
    display: block !important;
}

#menu {
    position: absolute;
    background-color: white;
    right: 0;
    top: 100px;
    opacity: .9;
    width: 100%;
    text-align: center;
}

#menu ul {
    flex-direction: column;
    width: 100%;
}

#menu ul li {
    margin: 1rem 2rem;
}

.big-img {
    width: 100%;
}

#ilk-iki {
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.orta-icerikler {
    position: static;
}

.orta-icerik {
    position: static;
    width: 100%;
}

#orta-icerik-2 {
    margin: 0;
    margin-top: 1rem;
}

.orta-icerik-class {
    margin-top: 1rem
}

#big-container {
    width: 100%;
    height: 0;
    margin-top: 1rem !important;
}

#ok-sag {
    margin-left: 0;
}

.icerikler {
    margin-left: calc(50% - 189px - 101.5px);
    /* 189 solundaki okun widthi 101.5 de yazının widthinin yarısı*/
}

.marketing {
    width: 50%;
}

.marketing-div2 {
    top: 4.25rem;
    right: 1.55rem;
}

.metaverse {
    width: 50%;
}

.roket {
    width: 45%;
}


.roket-div2 {
    right: 0;
    top: -0.75rem;
}

#ok-sol-div {
    display: none;
}

#height3 {
    margin-top: 0;
}

.height4 {
    margin: 0px;
}

.big-icons {
    flex-direction: column;
    margin-top: 3rem;
}

.big-icerik {
    width: 100%;
    margin: 1rem 0;
}

.big-icerik-image {
    display: flex;
    justify-content: center;
}

#metin-icon, #atac-icon {
    left: calc(50% - 12.5px);
}

#game-icon, #dosya-icon {
    left: calc(50% - 10px);
}

#big-container {
    margin-top: 200px
}

#clear {
    margin: 0;
}

#veri-text-icerisi {
    align-self: center;
}

#veri-text-icerisi2 {
    align-self: center;
    margin-left: 0;
}

.clear2 {
    height: 0;
    margin: 0;
}

.veri-big-text {
    position: static;
    left: calc(50% - 155.5px);
    justify-content: center;
    text-align: center;
}

#veri-resim {
    display: none;
}

#veri-resim2 {
    display: block;
}

#veri-resim2-div {
    display: flex;
    justify-content: center;
}

.height {
    height: 50vw;
}

.height2 {
    height: 280px;
}

#dikey-orta {
    height: auto;
}

#dikey-orta2 {
    height: auto;
}

.menu2,
.menu3,
.menu4 {
    position: static;
}

#menu .menu-ul li {
    padding: 0;
    margin: 0.5rem;
}

.text-center2 {
    text-align: center;
}

.veri-text {
    margin: 1rem;
}

#footer-logo {
    width: 100%;
}

.icons {
    margin-left: 1rem;
}

.seo-deneyimi {
    margin-top: 2rem;
}