* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container-clear {
    margin-top: 450px;
}

.container-clear2 {
    margin-top: 250px;
}

.container-clear3 {
    margin-top: 300px;
}

.container-clear4 {
    margin-top: 50px;
}

.container-relative {
    position: relative;
}

.clear {
    width: 100%;
    height: 100px;
}

header {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
}

header.container {
    margin-bottom: 2rem;
}

#img {
    margin-top: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login ul {
    display: flex;
    justify-content: space-between;
}

#login ul li {
    margin: 0 0.5rem;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ul {
    display: flex;
    justify-content: space-between;
}

#menu ul li {
    margin: 1rem;
}

#menu ul li .active-button {
    color: #358DFE;
}

#menu ul li a:hover {
    color: #358DFE;
}

.click {
    cursor: pointer;
}

.default-button {
    height: 42.75px;
    padding: 0 2rem;
    border: 1px solid #358DFE;
    background-color: #358DFE;
    color: white;
    border-radius: 42.75px;
}

.default-button:hover {
    border: 1px solid #358DFE;
    background-color: rgba(0, 0, 0, 0);
    color: #358DFE;
}

.kare-button {
    height: 42.75px;
    padding: 0 2rem;
    border: 1px solid #358DFE;
    background-color: #358DFE;
    color: white;
    border-radius: 0.5rem;
}

.kare-button:hover {
    border: 1px solid #358DFE;
    background-color: rgba(0, 0, 0, 0);
    color: #358DFE;
}

#alphabet-folder-buttons {
    display: flex;
    justify-content: center;
}

#seo-kampanya-buttons {
    display: flex;
    justify-content: center;
    margin: 0.75rem 0;
}

#header-buttons {
    font-size: 3rem;
    display: flex;
    margin: 1.5rem;
}

#button2 {
    padding: 0 3px;
}

.kapsayici * {
    margin-top: 0.5rem;
}

#menu li a:hover i {
    color: black;
}

.blue-text {
    color: #358DFE;
}

.big-img {
    width: 768px;
}

.big-text {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.end {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.mid-text {
    font-size: 1.3rem;
}

#seo-takvimi-desc {
    width: 455px;
}

#seo-takvimi-buttons {
    margin-top: 2.5rem;
}

#topluluk-desc {
    width: 350px;
}

#boost-desc {
    width: 456px;
}

.title {
    display: flex;
}

.description {
    width: 305px;
}

.buttons {
    display: inline-flex;
}

#basla {
    margin-top: 1rem;
}

#basla2 {
    margin-right: 1rem;
}

.iceriks {
    position: relative;
}

.icerikler {
    max-width: 1300px;
    display: inline-flex;
    text-align: center;
    margin-left: calc(50% - 7rem - 189px - 101.5px);
    /* 189 solundaki okun widthi 101.5 de yazının widthinin yarısı 7remde okun margini */
}

.orta-icerikler {
    position: absolute;
    width: 100%;
    top: 200px;
}

#dikey-orta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.flex-icerik {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem;
}

#sol {
    margin-top: 2rem;
}

.minik-icerik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 208.5px;
    height: 148.5px;
    background-color: white;
    border-radius: 1rem;
}

.minik-icerik-desc {
    width: 50%;
    text-align: center;
}

.minik-icerik-desc2 {
    width: 69%;
    text-align: center;
}

.minik-icerik-desc3 {
    width: 75%;
    text-align: center;
}

.minik-icerik-image {
    position: relative;
}

.orta-icerik {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 243px;
}

#orta-icerik-2 {
    margin-top: 7rem;
}

.orta-icerik-class {
    display: inline-flex;
}

.orta-icerik-title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.orta-icerik-orta-yazi {
    width: 90%;
}

.big-icons {
    display: flex;
    justify-content: space-between;
}

.big-icerik {
    width: 186px;
}

.big-icerik-title {
    margin-bottom: 0.75rem;
}

.big-icerik-image {
    position: relative;
}

#ilk-iki {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}

#seo>div {
    font-size: 2rem;
    margin: 0.75rem 0;
}

#ok-sag {
    margin-left: 7rem;
    transform: rotate(-5deg);
}

#ok-sol {
    margin: 0 auto;
    transform: rotate(5deg);
}

#ok-sol-div {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 50%;
}

#marketing-div {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 5rem;
}

#metaverse-div {
    display: inline-flex;
    position: absolute;
}

#roket-div {
    display: inline-flex;
    position: absolute;
    right: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10rem;
    width: 100%;
}

#background-blue-icon {
    position: relative;
}

#world-icon {
    position: absolute;
    top: 12px;
    left: 12px;
}

#seo-icon {
    position: absolute;
    top: 19px;
    left: 10px;
}

#sapka-icon {
    position: absolute;
    top: 14px;
    left: 9px;
}

#sapka-icon {
    position: absolute;
    top: 14px;
    left: 9px;
}

#ads-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

#metin-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 25px;
}

#game-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 20px;
}

#atac-icon {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 25px;
}

#dosya-icon {
    position: absolute;
    top: 11px;
    left: 13px;
    width: 20px;
}

#sifirbir-icon {
    color: white;
    position: absolute;
    top: 1.1rem;
    right: 7.5rem;
}

#sifiriki-icon {
    color: white;
    position: absolute;
    top: 1.2rem;
    left: 6.1rem;
}

#alphabet-folder-icon {
    display: flex;
    justify-self: center;
}

#veri-resim {
    position: absolute;
    top: 0;
    left: calc(50% - 375px);
}

#uzun-sol-ok {
    position: absolute;
    top: 350px;
    right: 15px;
}

#alphabet-folder-div {
    display: flex;
    justify-content: center;
}

.images {
    margin: 0 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images-img {
    position: relative;
}

.images-image {
    width: 275px;
}

.images-image2 {
    position: absolute;
    width: 275px;
    top: 0;
    left: 0;
    z-index: 1;
}

#businessman-div {
    display: flex;
    justify-content: center;
}

.seo-kampanya-images {
    display: flex;
    justify-content: center;
}

.seo-kampanya-desc {
    display: flex;
    justify-content: center;
}

#seo-kampanya-desc-icerik {
    width: 300px;
}

#kimler-icin-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3rem;
}

#flex {
    display: flex;
    justify-content: space-between;
}

.sayilar {
    background-color: #182343;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 0.75rem;
}

.sayilar-div {
    margin: 0.3rem 0;
    margin-bottom: 1.3rem;
}

.select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.height {
    height: 604px;
}

.height2 {
    height: 667px;
}

.veri-text {
    display: flex;
    flex-direction: column;
}

#veri-text-icerisi {
    align-self: flex-end;
    width: 289px;
}

#veri-text-icerisi2 {
    width: 233px;
    margin-left: 12rem;
}

.veri-big-text {
    display: flex;
    position: absolute;
    top: 400px;
    left: 125px;
}

#cards {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-img img {
    width: 66%;
}

footer.container {
    margin-top: 1rem;
}

.footer-links ul li a {
    transition: all 0.3s;
}

.footer-links ul li a:hover {
    color: #358DFE;
}

#footer-ilk-kisim {
    display: flex;
    justify-content: space-between
}

#footer-ilk-kisim ul {
    display: block;
}

#footer-logo-div {
    width: 30%;
}

#footer-social div a:hover {
    transition: all 0.3s;
}

#footer-social div a:hover {
    color: #358DFE;
}

#footer-social-icons {
    display: flex;
    justify-content: space-between;
}

#footer-footer {
    text-align: center;
}

.active {
    display: flex;
}

.deactive {
    display: none !important;
}

@media (max-width: 1200px) {
    #uzun-sol-ok {
        display: none;
    }
}

@media (max-width: 1100px) {

    .flex-icerik {
        flex-direction: column;
    }

    .big-img {
        margin: 0 auto;
    }

    .flex-icerik {
        align-items: center;
        margin: 0.75rem 0.75rem;
    }

    #sol {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    #big-container {
        margin-top: 400px;
    }

    header.container {
        margin-bottom: 0;
    }

    .flex-icerik {
        margin: 0;
    }

    #metaverse {
        width: 60vw;
    }

    #marketing {
        width: 85%;
    }

    #marketing-div {
        justify-content: flex-end;
    }

    #dikey-orta {
        height: 60vw;
    }

    .height4 {
        margin: 0;
    }

    #height4 {
        margin-top: 150px;
    }

    #roket {
        width: 75%;
    }

    #roket-div {
        justify-content: flex-end;
    }
}

@media (max-width: 880px) {

    .active {
        display: none !important;
    }

    .deactive {
        display: flex !important;
    }

    #menu {
        position: absolute;
        background-color: white;
        right: 0;
        top: 113px;
        opacity: .9;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu ul li {
        margin: 1rem 2rem;
    }

    .big-img {
        width: 100%;
    }

    #ilk-iki {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .orta-icerikler {
        margin-top: 5rem
    }

    .orta-icerik {
        width: 100%;
    }

    #orta-icerik-2 {
        margin: 0;
    }

    #big-container {
        width: 100%;
        height: 60vh;
    }

    #ok-sag {
        margin-left: 0;
    }

    .icerikler {
        margin-left: calc(50% - 189px - 101.5px);
        /* 189 solundaki okun widthi 101.5 de yazının widthinin yarısı*/
    }

    #marketing {
        width: 40%;
    }

    #marketing-div {
        top: 5vh;
    }

    #metaverse {
        width: 55vw;
    }

    #roket {
        width: 50%;
    }

    #roket-div {
        top: 100px;
    }

    #ok-sol-div {
        display: none;
    }

    #height3 {
        margin-top: 0;
    }

    .height4 {
        margin: 0px;
    }

    .big-icons {
        flex-direction: column;
    }

    .big-icerik {
        width: 100%;
        margin: 1rem 0;
    }

    #big-container {
        margin-top: 200px
    }
}

@media (max-width: 740px) {

    .icons {
        margin: 0;
    }

    .minik-icerik {
        width: 160px;
    }

    #marketing {
        display: none;
    }

    #metaverse {
        display: none;
    }

    #roket-div {
        display: none;
    }

    #marketing-div {
        top: 40vh;
    }

    #height4 {
        margin: 0;
    }

    #dikey-orta {
        height: auto;
    }

    .height {
        height: auto;
        margin: 0;
    }

    .images-image {
        width: 100%;
    }

    .images-image2 {
        width: 100%;
    }

    .images-img {
        display: inline !important;
        width: 160px;
        height: 152px;
    }

    .images {
        flex-direction: row;
        margin: 1rem;
    }

    #footer-logo {
        width: 100%;
    }

}


@media (max-width: 600px) {

    #ok-sag {
        display: none;
    }

    #kimler-icin-text {
        display: none;
    }

    .icerikler {
        margin-left: calc(50% - 101.5px);
        /* 189 solundaki okun widthi 101.5 de yazının widthinin yarısı*/
    }

    .orta-icerikler {
        margin: 0;
        top: 100px;
    }
}

@media (max-width: 500px) {

    #big-container {
        width: 100%;
        height: 75vh;
    }

    #seo-takvimi-desc {
        width: 100%;
    }

    #boost-desc {
        width: 100%;
    }

    #basla2 {
        margin-right: 0.25rem;
    }

    #img-businessman {
        width: 100%;
    }

    #footer-ilk-kisim {
        flex-direction: column;
        align-items: center;
    }

    #footer-logo-div,
    .footer-links,
    #footer-social {
        margin: 1rem 0;
        width: 100%;
    }

    #big-container {
        margin-top: 165px
    }

    .images {
        justify-content: center;
    }
}

@media (max-width: 350px) {

    #header-logo {
        width: 100%;
    }

    #header-buttons {
        font-size: 2rem;
    }

    #button2 {
        padding: 0 2px;
    }

    #sol {
        width: 280px;
    }

    .description {
        width: 280px;
    }

    #menu {
        top: 97px;
    }

    #big-container {
        width: 100%;
        height: 100vh;
    }

    .icons {
        justify-content: center;
        margin: 1rem 0;
    }

    #sol {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    #big-container {
        margin-top: 100px
    }

    .images {
        justify-content: center;
    }
}