* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
    color: #343a40;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.container-clear {
    margin-top: 450px;
}

.container-clear2 {
    margin-top: 250px;
}

.container-clear3 {
    margin-top: 300px;
}

.container-clear4 {
    height: 0 !important;
    margin-top: 0 !important;
}

.container-relative {
    position: relative;
}

.container-relative2 {
    position: relative;
    width: 150px;
    margin: 0 auto;
}

.absolute-text {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 3;
    color: white;
}

.top-mavi {
    position: absolute;
    width: 500px;
    top: 25rem;
    left: -20rem;
}

.clear {
    width: 100%;
    height: 100px;
}

#clear5 {
    margin-top: 50px;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#header-logo {
    width: 80%;
}

/* header.container {
    margin-bottom: 2rem;
} */

#img {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login ul {
    display: flex;
    justify-content: space-between;
}

#login ul li {
    margin: 0 0.5rem;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .menu-ul {
    display: flex;
    justify-content: space-between;
}

#menu .menu-ul li {
    padding: 1rem;
}

#menu .menu-ul li .active-button {
    color: #358DFE;
}

#menu .menu-ul li a:hover {
    color: #358DFE;
}

.click {
    cursor: pointer;
}

.default-button {
    padding: 0.6rem 2rem;
    border: 1px solid #358DFE;
    background-color: #358DFE;
    color: white;
    border-radius: 42.75px;
}

.default-button:hover {
    border: 1px solid #358DFE;
    background-color: rgba(0, 0, 0, 0);
    color: #358DFE;
}

.kare-button {
    padding: 0.6rem 2rem;
    border: 1px solid #358DFE;
    background-color: #358DFE;
    color: white;
    border-radius: 0.5rem;
}

.kare-button:hover {
    border: 1px solid #358DFE;
    background-color: rgba(0, 0, 0, 0);
    color: #358DFE;
}

#alphabet-folder-buttons {
    display: flex;
    justify-content: center;
}

#seo-kampanya-buttons {
    display: flex;
    justify-content: center;
    margin: 0.75rem 0;
}

#header-buttons {
    font-size: 3rem;
    display: flex;
    margin: 1.5rem;
}

#button2 {
    padding: 0 3px;
}

.kapsayici * {
    margin-top: 0.5rem;
}

#menu li a:hover i {
    color: black;
}

.blue-text {
    color: #358DFE;
}

.very-big-text {
    font-size: 2.2rem;
}

.big-img-div {
    display: flex;
    justify-content: flex-end;
}

.big-img {
    /* width: 768px; */
    width: 650px;
}

.big-text {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.end {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.mid-text {
    font-size: 1.3rem;
}

#seo-takvimi-desc {
    width: 455px;
}

#seo-takvimi-buttons {
    margin-top: 2.5rem;
}

#topluluk-desc {
    width: 350px;
}

#boost-desc {
    width: 456px;
}

.title {
    display: flex;
}

.description {
    width: 305px;
}

.buttons {
    display: inline-flex;
}

#basla {
    margin-top: 1rem;
}

#basla2 {
    margin-right: 1rem;
}

.iceriks {
    position: relative;
}

.icerikler {
    max-width: 1300px;
    display: inline-flex;
    text-align: center;
    margin-left: calc(50% - 7rem - 189px - 101.5px);
    /* 189 solundaki okun widthi 101.5 de yazının widthinin yarısı 7remde okun margini */
}

.orta-icerikler {
    position: absolute;
    width: 100%;
    top: 200px;
}

#dikey-orta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#dikey-orta2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.flex-icerik {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem;
}

#sol {
    display: flex;
    align-items: center;
}

.minik-icerik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 208.5px;
    height: 148.5px;
    background-color: white;
    border-radius: 1rem;
}

.minik-icerik-desc {
    width: 50%;
    text-align: center;
}

.minik-icerik-desc2 {
    width: 69%;
    text-align: center;
}

.minik-icerik-desc3 {
    width: 75%;
    text-align: center;
}

.minik-icerik-image {
    position: relative;
}

.orta-icerik {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 243px;
}

#orta-icerik-2 {
    margin-top: 7rem;
}

.orta-icerik-class {
    display: inline-flex;
}

.orta-icerik-title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.orta-icerik-orta-yazi {
    width: 90%;
}

.big-icons {
    display: flex;
    justify-content: space-between;
}

.big-icerik {
    width: 186px;
}

.big-icerik-title {
    margin-bottom: 0.75rem;
}

.big-icerik-image {
    position: relative;
}

#ilk-iki {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
}

#seo>div {
    font-size: 2rem;
    margin: 0.25rem 0;
}

#ok-sag {
    margin-left: 7rem;
    transform: rotate(-5deg);
}

#ok-sol {
    margin: 0 auto;
    transform: rotate(5deg);
}

#ok-sol-div {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 50%;
}

.marketing {
    width: 85%;
}

.marketing-div {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 5rem;
    width: 500px;
    justify-content: flex-end;
}

.marketing-div2 {
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    right: 2.5rem;
    top: 3.75rem;
    width: 455px;
    justify-content: flex-end;
}

.metaverse {
    width: 70%;
}

.metaverse-div {
    display: inline-flex;
    position: absolute;
    left: 0.25rem;
}

.metaverse-div2 {
    display: inline-flex;
    position: absolute;
    left: 0rem;
    top: -3.25rem;
}

.roket {
    width: 63%;
}

.roket-div {
    display: inline-flex;
    position: absolute;
    right: 5rem;
    top: -2rem;
    justify-content: flex-end;
}

.roket-div2 {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: flex-end;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    gap: 0.75rem;
}

#background-blue-icon {
    position: relative;
}

#world-icon {
    position: absolute;
    top: 12px;
    left: 12px;
}

#seo-icon {
    position: absolute;
    top: 19px;
    left: 10px;
}

#sapka-icon {
    position: absolute;
    top: 14px;
    left: 9px;
}

#sapka-icon {
    position: absolute;
    top: 14px;
    left: 9px;
}

#ads-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

#metin-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 25px;
}

#game-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    width: 20px;
}

#atac-icon {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 25px;
}

#dosya-icon {
    position: absolute;
    top: 11px;
    left: 13px;
    width: 20px;
}

#sifirbir-icon {
    color: white;
    position: absolute;
    top: 1.25rem;
    left: 3.5rem;
}

#sifiriki-icon {
    color: white;
    position: absolute;
    top: 1.25rem;
    left: 3.5rem;
}

#alphabet-folder-icon {
    display: flex;
    justify-self: center;
}

#veri-resim {
    position: absolute;
    top: 0;
    left: calc(50% - 375px);
}

#uzun-sol-ok {
    position: absolute;
    top: 350px;
    right: 15px;
}

#alphabet-folder-div {
    display: flex;
    justify-content: center;
}

.images {
    margin: 0 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images-img {
    position: relative;
    margin: 1rem;
}

.images-image {
    width: 250px;
}

.images-image2 {
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    z-index: 1;
}

#businessman-div {
    display: flex;
    justify-content: center;
}

.seo-kampanya-images {
    display: flex;
    justify-content: center;
}

.seo-kampanya-desc {
    display: flex;
    justify-content: center;
}

#seo-kampanya-desc-icerik {
    width: 466px;
}

#kimler-icin-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 3rem;
}

#flex {
    display: flex;
    justify-content: space-between;
}

.sayilar {
    background-color: #182343;
    color: white;
    border-radius: 2rem;
    padding: 0.3rem 0.75rem;
}

.sayilar-div {
    margin: 1rem 0;
}

.select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.height {
    height: 604px;
}

.height2 {
    height: 500px;
}

#height3 {
    margin-top: 175px;
}

.height4 {
    height: 0;
}

.veri-text {
    display: flex;
    flex-direction: column;
}

#veri-text-icerisi {
    align-self: flex-end;
    width: 289px;
}

#veri-text-icerisi2 {
    width: 233px;
    margin-left: 12rem;
}

.veri-big-text {
    display: flex;
    position: absolute;
    top: 350px;
    left: 125px;
}

#cards {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-img img {
    width: 66%;
}

footer.container {
    margin-top: 1rem;
}

.footer-links ul li a {
    transition: all 0.3s;
}

.footer-links ul li a:hover {
    color: #23272b;
}

#footer-ilk-kisim {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer-ilk-kisim ul {
    display: block;
}

#footer-logo {
    object-fit: scale-down;
}

#footer-logo-div {
    width: 30%;
}

#footer-social div a:hover {
    transition: all 0.3s;
}

#footer-social div a:hover {
    color: #23272b;
}

#footer-social-icons {
    display: flex;
    justify-content: space-between;
}

#footer-footer {
    text-align: center;
    margin: 0.5rem 0;
}

footer.container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.active {
    display: flex;
}

.deactive {
    display: none !important;
}

.deactive2 {
    display: none;
}

.menu2,
.menu3,
.menu4 {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    top: 60px;
}

.menu3 {
    top: 49px;
    right: -96px;
}

.menu4 {
    top: 102px;
    right: -171px;
}

.araclar:hover .menu2,
.araclar2:hover .menu3,
.araclar3:hover .menu4 {
    display: flex;
}